@page "/blog"
@using SampleBlogApp.Data
@using SampleBlogApp.Helpers;
@using SampleBlogApp.Services.BLL
@using SampleBlogApp.Services.Helpers
@inject BlogPostServices BlogPostServices
@inherits BaseComponentPage

<AuthorizeView Policy="@Permissions.CanCreate">
    <Authorized>
        <a class="btn btn-primary mb-3" href="/blog/add">Create Blog Post</a>
    </Authorized>
</AuthorizeView>

<h3>Blog</h3>
<p class="mb-3">Latest posts</p>

@if (_blogPosts != null)
{
    foreach (var blogPost in _blogPosts)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@blogPost.Title</h5>
                <p class="card-text blog-content mb-3">@blogPost.ShortContent</p>
                <p class="card-text">Posted by: @blogPost.User.UserName</p>
                <p class="card-text mb-3">Posted on: @blogPost.Date</p>
                <a href="@($"/blog/view/{blogPost.Id}")" class="btn btn-secondary">View</a>
            </div>
        </div>
    }
}



@code {
    private List<BlogPostDTO>? _blogPosts;

    

    protected override async Task OnInitializedAsync()
    {

        var result = await BlogPostServices.GetBlogPostsAsync();
        if (result.Success)
        {
            _blogPosts = result.Data;
        }
    }

}
