@page "/blog/view/{Id:int}"
@inject BlogPostServices BlogPostServices
@using SampleBlogApp.Services.Helpers
@inherits BaseComponentPage



@if (!string.IsNullOrEmpty(_errorMessage))
{
    <p>@_errorMessage</p>
}


@if (BlogPost != null)
{
    <div class="card">
        <div class="card-header">
            <h3>@BlogPost.Title</h3>
            <p>Posted by: @BlogPost.User.UserName on @BlogPost.Date.ToString("D")</p>
        </div>
        <div class="card-body">
            <p class="blog-content">@BlogPost.Content</p>
        </div>
        <div class="card-footer">
            @BackButton
            <AuthorizeView Policy="@Permissions.CanEdit">
                <Authorized>
                    <a class="btn btn-secondary" href="/blog/edit/@Id">Edit</a>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    public BlogPostDTO? BlogPost;
    private string _errorMessage = string.Empty;

    protected async override Task OnInitializedAsync()
    {

        var result = await BlogPostServices.GetBlogPostByIdAsync(Id);

        if (result.Success)
        {
            BlogPost = result.Data;
        }
        else
        {
            _errorMessage = result.Message;
        }
    }

}
